<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg');
            background-size: cover;
        }

        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 500px; /* Adjust the size of the avatar image */
            height: 500px; /* Adjust the size of the avatar image */
        }

        a.button-link {
            text-decoration: none;
        }

        button {
            background-color: #04AA6D;
            color: white;
            padding: 15px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 80%;
            opacity: 0.9;
        }

        button:hover {
            opacity: 1;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="imgcontainer">
            <img src="https://wallpapers.com/images/hd/luffy-1920-x-1920-picture-ee9gghzfh6x5rq4k.jpg" alt="Avatar" class="avatar">
        </div>
        <hr>

        <a class="button-link" href="http://localhost:3000/signup">
            <button>Sign UP</button>
        </a>

        <div>
            <a class="button-link" href="http://localhost:3000/signin">
                <button>Login</button>
            </a>
        </div>
    </div>
</body>
</html>